<ion-view title="LIVE" id="page4" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="lIVE-card23">
      <ion-item class="item-icon-left" id="lIVE-list-item9">
        <i class="icon ion-android-contact"></i>LIVE ADB TAIMA</ion-item>
      
      <!--iframe width="100%" height="100%" src="https://www.youtube.com/embed/lOO_mOoksdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

      <iframe id="ytplayer" type="text/html" width="100%" height="100%"
src="https://www.youtube.com/embed/lOO_mOoksdI"
frameborder="0" allowfullscreen>
<!--iframe width="100%" height="100%" src="https://www.youtube.com/embed/ONhud_DDYwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

      </div>
      <div class="item item-body" id="lIVE-list-item-container5">
        <div id="lIVE-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Inscreva-se na Rádio ADB TAIMA</p>
        </div>
      </div>
    </div>
    <button id="lIVE-button23" class="button button-assertive button-block icon-left ion-social-youtube">INSCREVA-SE</button>
  </ion-content>
</ion-view>